.screen{
    height: 100vh;
    position: relative;
    text-align: center;
}

.panel{
    margin-top: 7%;
    text-align: center;
    display: inline-block;
    height: 60vh;
    border: 2px solid red;
    background-color: beige;
    border-radius: 2rem;
    padding: 1rem;
}

.heading{
    text-transform: uppercase;
    max-height: 7%;
    color: orangered;
}

.input{
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
}

input,select{
    margin: auto;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    width: 16rem;
    height: 2.5rem;
    border-radius: 50rem;
    padding-left: 2rem;
    padding-right: 1rem;
    -webkit-appearance: none;
    color: orangered;
}

input:focus , select:focus{
    border: 2px solid orangered;
}

.calc_btn{
    display: inline-block;
    padding: .6rem;
    margin: auto;
    margin-top: 2.5rem;
    width: 35%;
    background-color: bisque;
    border: none;
    cursor: pointer;
    color: orangered;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.calc_btn:hover{
    transform: translateY(-5px);
    background-color: orangered;
    color: white;
}

.calc_btn:focus{
    border: none;
    outline: none;
}